footer {
    background: black;
    height: 500px;

    .footer-index {

        h1,
        a,
        h4,
        .footer-title {
            color: white;
        }

        .footer-top {
            margin-bottom: 36px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .footer-icon{
                display: flex;
                gap: 0.8rem;
                svg{
                    fill: white;
                    width: 2rem;
                    height: 2rem;
                }
            }
        }

        .footer-content {
            display: flex;
            justify-content: space-between;
        }

        .router-link {
            display: flex;
            flex-direction: column;

            h4{
                font-size: 20.8px;
                font-family: 'Poppins',sans-serif;
                font-weight: bold;
                padding: 1rem 0 0.8rem 0;
            }

            a{
                font-size: 17.6px;
                padding-bottom: 0.4rem;
                font-family: 'Poppins',sans-serif;
            }
        }
    }
}


@media only screen and (max-width: 576px) {

    footer{
        height: 550px;
        .footer-content{
            display: flex;
            flex-wrap: wrap;
        }
        .router-link{
            width: 50%;
        }

        .footer-top{
            padding-top: 35px;
        }
    }

}

@media (min-width: 576px) and (max-width: 767px) {

    footer{
        height: auto;
        .footer-content{
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 35px;
        }
        .router-link{
            width: 50%;
        }

        .footer-top{
            padding-top: 35px;
        }

        .footer-index{
            padding-top: 63px;
        }
    }

}

@media (min-width: 767px) and (max-width: 992px) {

    footer{
        height: auto;
        .footer-content{
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 35px;
        }
        .router-link{
            width: 50%;
        }

        .footer-top{
            padding-top: 35px;
        }

        .footer-index{
            padding-top: 63px;
        }
    }

}

@media (min-width: 992px){

    footer{
        height: auto;
        .footer-content{
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 45px;
        }

        .footer-top{
            padding-top: 35px;
        }

        .footer-index{
            padding-top: 46px;
        }
    }

}