header {
    .header-index {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
        position: fixed;
        background-color: #fff;
        border-radius: 13px;
        width: 95%;
        height: 80px;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
        z-index: 99999;
        position: fixed;
        top: 20px;
        left: 2.5%;
        align-items: center;

        .header-content {
            ul {
                display: flex;
                list-style: none;
                gap: 3rem;
                margin-bottom: 0;

                li {
                    display: flex;
                    align-items: center;

                    a {
                        color: black;
                        font-weight: bold;
                        font-size: 19.2px;
                        display: flex;
                        align-items: center;
                        gap: 0.4rem;
                    }

                    &:last-child {
                        background: #f3eeee;
                        padding: 0.5rem 1rem;
                        white-space: nowrap;
                        border-radius: 0.3rem;
                        font-size: 1rem;
                        font-weight: 600;
                        border: none;
                        cursor: pointer;
                        transition: 0.2s ease-in-out;
                    }
                }

            }

            .mobile-menu-icon {
                display: none;
            }
        }

        .header-logo {
            h1 {
                color: black;
                font-weight: bold;
                font-size: 32px;
                margin-bottom: 0;
                font-family: 'Poppins', sans-serif;
            }
        }
    }
}


@media only screen and (max-width: 576px) {
    .header-content {
        ul {
            display: none !important;

            li{
                margin-left: auto;
                margin-right: auto;

                &:last-child{
                    margin-bottom: 35px;
                }
            }
            
        }

        .nav-links-active {
            position: absolute;
            left: 0;
            top: 86%;
            transition: all .5s ease-in-out;
            width: 100%;
            background-color: #fff;
            border-radius: 13px;
            gap: 1rem;
            margin-bottom: 0;
            display: flex !important;
            flex-direction: column;
            padding-top: 25px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            padding-left: 0;

            ul li {
                text-align: center;
                width: 100%;

            }
        }

        .mobile-menu-icon {
            display: block !important;

            svg {
                width: 1.5rem !important;
                height: 1.5rem !important;
                display: block;
            }
        }
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    .header-content {
        ul {
                left: -100%;
                position: absolute; 
                li{
                margin-left: auto;
                margin-right: auto;

                &:last-child{
                    margin-bottom: 35px;
                }
            }
            
        }

        .nav-links-active {
            position: absolute;
            top: 86%;
            left: 0;
            transition: all .3s ease-in-out;
            width: 100%;
            height: auto;
            background-color: #fff;
            border-radius: 13px;
            gap: 1rem;
            margin-bottom: 0;
            display: flex !important;
            flex-direction: column;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            padding-left: 0;
            transition: 0.3s ease-in-out;

            

            ul li {
                text-align: center;
                width: 100%;

            }
        }

        .mobile-menu-icon {
            display: block !important;

            svg {
                width: 1.5rem !important;
                height: 1.5rem !important;
                display: block;
            }
        }
    }

}

@media (min-width: 767px) and (max-width: 992px) {
    .header-content {
        ul {
                left: -100%;
                position: absolute; 
                
                li{
                margin-left: auto;
                margin-right: auto;

                &:last-child{
                    margin-bottom: 35px;
                }
            }
            
        }

        .nav-links-active {
            position: absolute;
            top: 86%;
            left: 0;
            transition: all 0.3s ease-in-out;
            width: 100%;
            height: auto;
            background-color: #fff;
            border-radius: 13px;
            gap: 1rem;
            margin-bottom: 0;
            display: flex !important;
            flex-direction: column;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            padding-left: 0;
            transition: 0.3s ease-in-out;

            

            ul li {
                text-align: center;
                width: 100%;

            }
        }

        .mobile-menu-icon {
            display: block !important;

            svg {
                width: 1.5rem !important;
                height: 1.5rem !important;
                display: block;
            }
        }
    }

}